.topnav {
  background-color: #e9e9e9;
}

.search {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 250px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
}

.search-icon {
  width: 5px;
  height: 5px;
}