body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

/* Top Navigation Bar */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  background-color: black;
  display: grid;

  /* logo | nav links | search */
  grid-template-columns: auto 1fr 1fr;

  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

/* Logo */
.logo-image {
  height: 70px;
  width: auto;
}

/* Search Bar */
.searchbar {
  position: relative;
  width: 100%;     
  max-width: 320px;     
}


.searchbar .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 16px;
}

.search-input {
  width: 100%;
  padding: 10px 12px 10px 36px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: #222;
  color: white;
}


.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:visited {
  color: white;
}

.nav-links a:hover {
  color: grey; 
}

.nav-links {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Content Area */
.content {
  margin-top: 80px; 
  padding: 20px;
  text-align: center;
}


/* Opening Hours Table */
.opening-hours-table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-collapse: collapse;
  border: 1px solid;
}

.opening-hours-table th,
.opening-hours-table td {
  border: none;
  padding: 10px 10px 20px 10px;
}

.opening-header {
  text-align: center;
}

tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
/* Footer */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

.social-icons img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}